*{
    font-family: 'IBM Plex Mono', monospace;
    color:rgb(0, 71, 71);
    font-weight: bolder;
}
html ,body{
    margin:0;
    padding: 0;
    width:100%;
    height:100%;
    border:6px double rgb(2, 110, 83);
  border-radius: 10px;
    background-color: rgb(247, 176, 176);
    
    display: block;
    box-sizing: border-box;
    
}
.cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
     width: 50%;
     height:344px;
    margin: auto;
    grid-gap:.1rem;
    margin-bottom: 2%;
}
.box{
    background-color: rgb(2, 110, 83);
    height:95%;
    width:95%;
    border:5px solid rgb(245, 124, 124);
    border-radius: 50%;
}
.boxclick{
    opacity: .7;
}
.count{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:5%;
    flex-wrap:wrap;
}
.main1, .main2{
   margin:5px 20px;
    
}
span{
    margin-left: 60px;
}
.main1>div , .main2>div{
    border-bottom: 2px dashed black;
}