body{
    color:rgb(0, 0, 121);
    font-family: 'Nunito', sans-serif;
}
#name{
    position: absolute;
    color:rgb(0, 0, 121);
    width:20%;
    background-color: white;
    top: 2%;
    left: 40%;
    padding:0px 20px;
    text-align: center;
}
.cont{
    border:3px solid rgb(0, 0, 121);
    height:fit-content;
    width:75%;
    margin: auto;
    margin-top:34px;
    padding-bottom: 34px;
}
.first{
    
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    grid-template-rows: 1fr;
    margin:70px 20px 0px 20px;
    padding:0px 20px;
    grid-gap:2.5rem;

}
.personal,.contact,.interest{
    padding: 5px 20px 5px 0px;
    border-right:3px solid rgb(0, 0, 121) ;
}
.second,.third{
    
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    grid-template-rows: 1fr;
    margin:0px 20px 0px 20px;
    padding:0px 20px;
    grid-gap:2.5rem;

}
.interest{
    margin-bottom: 7px;
}
.plass{
    font-size: 25px;
    color: rgb(0, 0, 153);
}
h2{
    font-family: 'Merriweather', serif;
    color:rgb(0, 0, 121);

}
.honor{
    margin-top:50px;
}
h3{
    margin: 0;
    color:rgb(0, 0, 121);
    font-size:22px;
    
}
div, ul{
    margin: 0;
}